$primarybgColor: grey;
$secondarybgColor: black;
$mainColor: white;
/*styling my grids*/
header  {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.grid_images_profile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}
.grid_about_section {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.grid_gallery {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
}

/*Home page*/
/*styling my header section*/
body {
  background-color: $primarybgColor;
  color: $mainColor;
  font-family: sans-serif;
  background-image: url("TEST-HD2-1920x1080.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
/*styling my header section*/
header {
 background-color: $secondarybgColor;
   border: 3px solid white;
}
/*styling my nav section */
nav {
  padding: 30px;
}
nav li {
  display: inline;
  padding: 50px;
}
header {
  background-image: url("banner-blog_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  a {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }
  a:hover {
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 3px;
  }
  img {
    float: left;
  }
  h1 {
    float: left;
  }
}
/*styling my nav button and drop down box*/
 .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/*styling my images profile*/
section {
  text-align: center;
  background-image: url("images/image1.jpg");
  img {
    border-radius: 5px;
  }
}
/*styling my about section*/
section {
  .about{
    margin-left: 20%;
    margin-right: 20%;
  }
  .sidebar {
    background-color: $secondarybgColor;
    a {
      text-decoration: none;
      color: white;
      padding: 10px;
    }
    a:hover {
      background-color: grey;
      padding: 8px;

    }
  }
}
/*styling section of gallery page*/
section {
  h1 {
    font-size: 50px;
  }
}
/*styling my footer*/
footer {
  background-color: $secondarybgColor;
  border: 3px solid white;
  text-align: right;
  background-image: url("banner-blog_2.jpg");
  p {
    color: black;
    padding-right: 5px;
  }
}
footer div {
    width: 55px;
    height: 21px;
    background: red;
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}
/*styling form*/
section {
  form {
    margin-left: 25%;
    margin-right: 25%;
  }
}
.backgroundcolor {
  background-color: grey;
}
